#pictures {
  display:flex;
  flex-direction:row;
  align-items: center;
  height: 300px;
  width: 100%;
  background-color: black;
}
#pictures img {
  border: 2px solid black;
  width: 30%;
  height: 200px;
  display:absolute;
  margin-left: 2%;
}
